.base00 { color: #263238; }
.base01 { color: #2C393F; }
.base02 { color: #37474F; }
.base03 { color: #707880; }
.base04 { color: #C9CCD3; }
.base05 { color: #CDD3DE; }
.base06 { color: #D5DBE5; }
.base07 { color: #FFFFFF; }
.base08 { color: #EC5F67; }
.base09 { color: #EA9560; }
.base0a { color: #FFCC00; }
.base0b { color: #8BD649; }
.base0c { color: #80CBC4; }
.base0d { color: #89DDFF; }
.base0e { color: #82AAFF; }
.base0f { color: #EC5F67; }

/* General Page Layout */

body {
  margin: 0;
  background-color: #263238;
  color: #FFFFFF;
  line-height: 1.5;
  font-size: 100%;
  font-family: 'monospace';
}

.container {
  max-width: 52em;
  margin-left: auto;
  margin-right: auto;
}

div.right {
  float:right;
}

div.clearfix {
  overflow: auto;
}

@media (max-width: 52em) {
  .container {
    width: 100%;
  }
}

article.single section,
.article-list article {
  background-color: #FFFFFF;
  color: #263238;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 52em) {
  article.single section,
  .article-list article {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

header, footer {
  background-color: #2C393F;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

header {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@media (max-width: 52em) {
  header {
    margin-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

footer {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.9em;
  color: #707880;
}

@media (max-width: 52em) {
  footer {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 { font-size: 2rem }
h2 { font-size: 1.5rem }
h3 { font-size: 1.25rem }
h4 { font-size: 1rem }
h5 { font-size: .875rem }
h6 { font-size: .75rem }

pre, code {
  font-family: inherit;
  font-size: inherit;
}

/* Header Layout */

header a.path {
  color: #89DDFF;
}

header span.caret {
  color: #FFFFFF;
}

/* Footer Layout */

footer a {
  color: #707880;
  text-decoration: none;
}

/* 404 Page Layout */

.page-not-found h1 {
  text-align: center;
  font-size: 5em;
}

.page-not-found h2 {
  text-align: center;
  font-size: 3em;
  color: #C9CCD3;
  margin-bottom: 4rem;
}

@media (max-width: 52em) {
  .page-not-found h1 {
    font-size: 3em;
  }

  .page-not-found h2 {
    font-size: 2em;
  }
}

/* Homepage Layout */

@media (max-width: 52em) {
  .homepage {
    margin-bottom: 2rem;
  }
}

.homepage h1.site-title {
  text-align: center;
  font-size: 5em;
  color: #80CBC4;
}

@media (max-width: 52em) {
  .homepage h1.site-title {
    font-size: 3em;
  }
}

.homepage h1.headline {
  font-size: 3em;
  color: #FFCC00;
}

@media (max-width: 52em) {
  .homepage h1.headline {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.homepage .hero-logo img {
  width: 100%;
}

.homepage section.categories,
.homepage section.tags {
  padding-left: 2rem;
  padding-right: 2rem;
}

.homepage .category,
.homepage .category a,
.homepage .tag,
.homepage .tag a {
  color: #82AAFF;
}

.homepage .tag {
  margin-right: 2em;
}

/* Post List Layout */

.article-list h1.list-title {
  font-size: 3em;
  color: #FFCC00;
}

.article-list article {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
}

.article-list article h2.headline,
.article-list article h2.headline a {
  margin-top: 0;
  color: #89DDFF;
}

.article-list article .meta {
  margin-bottom: 1rem;
}

.article-list article .meta .key {
  color: #707880;
}

.article-list article .meta .val,
.article-list article .meta .val a {
  color: #82AAFF;
}

.article-list article section.summary a { color: #EC5F67; }


/* Single Post Layout */

article.single .meta {
  font-size: 0.9em;
  text-align: right;
}

article.single .meta .key {
  color: #707880;
}

article.single .meta .val, article.single .meta .val a {
  color: #82AAFF;
}

@media (max-width: 52em) {
  article.single .meta {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

article.single h1.headline {
  margin-top: 0;
  font-size: 3em;
  color: #FFCC00;
}

@media (max-width: 52em) {
  article.single h1.headline {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

article.single section.body {
  padding-top: 4rem;
  padding-bottom: 3rem;
}

@media (max-width: 52em) {
  article.single section.body {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}

/* Highlight Colors */

article.single section.body h1 { color: #89DDFF; }
article.single section.body h2 { color: #8BD649; }
article.single section.body h3 { color: #EA9560; }
article.single section.body h4 { color: #EC5F67; }
article.single section.body h5 { color: #37474F; }
article.single section.body h6 { color: #707880; }

article.single section.body a { color: #EC5F67; }

/* Article Elements */

article.single * {
  max-width: 100%;
}

article.single pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow-x: scroll;
  border-radius: 3px;
  padding: 2rem;
}

article.single p code {
  padding: 0.2em 0.5em;
  border-radius: 3px;
  background: #707880;
  color: #FFFFFF;
}

article.single figure, article.single div.highlight {
  box-sizing: border-box;
  max-width: 52rem;
  width: 52rem;
  margin-left: -8rem;
  margin-right: -8rem;
  margin-bottom: 1rem;
  padding: 1em;
  background-color: #2C393F;
}

@media (max-width: 52em) {
  article.single figure, article.single div.highlight {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-radius: 3px;
  }
}

article.single figure img {
  max-width: 100%;
  width: 100%;
  border-radius: 3px;
}

article.single figure figcaption {
  margin-top: 1rem;
}

article.single figure figcaption h4 {
  margin-top: 0;
  text-align: center;
  font-style: italic;
  font-weight: normal;
  color: #FFFFFF;
}

article.single table {
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

article.single th,
article.single td {
  padding: .25rem 1rem;
  line-height: inherit;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C9CCD3;
}

article.single tr:last-child td {
  border-bottom: 0;
}

article.single th {
  text-align: left;
  font-weight: bold;
  vertical-align: bottom;
}

article.single td { vertical-align: top }

article.single blockquote {
  margin-left: 2rem;
  margin-right: 3rem;
  padding-left: 1rem;
  border-left: 5px solid #80CBC4;
}

article.single hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #C9CCD3;
}